extends layout

block head
  script(src='/socket.io/socket.io.js')
  script(src='main.js')
  link(rel='stylesheet', href='stylesheets/room.css')

block content
  div.center#content
    h1#title Welcome to the test.
    p DO NOT TOUCH THE GLASS.
    button#play.btn.btn-primary Play
    button#playnofancy.btn.btn-danger Play no offset
    button#playtimeout.btn.btn-inverse Play timeout
    button#stop.btn.btn-warning.disabled Pause
    a#refresh.btn(href='') Refresh
    br
    div#audio
    div#info
    div#info0
    div#info1
    div#info2
    div#info3